<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title></title>

    <link href="/normalize.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script src="/script.js" async></script>
  </head>
  <body>
    <header>
      <h1>Piccolo</h1>
      <h6>The isomorphic projection framework</h6>
    </header>

    <menu>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/doc/">Documentation</a></li>
        <li><a href="https://github.com/AndreasMadsen/piccolo">source code</a></li>
      </ul>
    </menu>

    <div id="position">
      <div>
        <span></span>
        <input type="search" placeholder="Search documentation">
      </div>
    </div>

    <div id="main">
      <section id="content"></section>
      <section id="search"></section>
    </div>

    <footer>License MIT | Copyright &copy; 2012 Andreas Madsen</fotter>
  </body>
</html>
